body{
  font-family: "sans-serif";
    text-align: center;
  }
header,h3{
  text-align: center;
}
.blue{
  background-color: blue;
}
#feature{
  position: relative;
}
.green{
  background-color: green;
}
.col.lg-4{
  float:left;
  width:33.33%;
  padding:10px;

}
.row::after{
  display:table;
  content:"";
  clear:both;
}
.gray{
  background-color: gray;
}
.black{
  background-color: black;
  color:white;
  margin:10px;
}
footer{
  background-color:#E94560;
  text-align:center;
}
.col-lg-6{
  border:1px solid;
}
@media screen and (max-width: 650px){
  td,th{
    display: block;
  }
}
